<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Ditto" suffix=" · Phoenix Framework" phx-no-format>{assigns[:page_title]}</.live_title>
    <%= if Application.get_env(:qlock, :dev_routes) do %>
      <script phx-track-static type="module" src="http://localhost:4432/@vite/client">
      </script>
      <link phx-track-static rel="stylesheet" href="http://localhost:4432/css/app.css" />
      <link rel="modulepreload" href="http://localhost:4432/js/app.js" />
      <script phx-track-static type="module" src="http://localhost:4432/js/app.js">
      </script>
    <% else %>
      <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
      <link rel="modulepreload" href={~p"/assets/app.js"} />
      <script phx-track-static type="module" src={~p"/assets/app.js"}>
      </script>
    <% end %>
    <script>
      (() => {
        const systemTheme = () => matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";

        const setTheme = (theme) => {
          if (theme === "system") {
            localStorage.removeItem("phx:theme");
            document.documentElement.setAttribute("data-theme", systemTheme());
            document.documentElement.setAttribute("data-theme-source", "system");
          } else {
            localStorage.setItem("phx:theme", theme);
            document.documentElement.setAttribute("data-theme", theme);
            document.documentElement.setAttribute("data-theme-source", "user");
          }
        };
        if (!document.documentElement.hasAttribute("data-theme")) {
          setTheme(localStorage.getItem("phx:theme") || "system");
        }
        window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || "system"));
        window.addEventListener("phx:set-theme", (e) => setTheme(e.target.dataset.phxTheme));

        matchMedia("(prefers-color-scheme: dark)").addEventListener("change", (e) => {
          if (document.documentElement.getAttribute("data-theme-source") === "system") {
            document.documentElement.setAttribute("data-theme", systemTheme());
          }
        });
      })();
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
